@import "./create/createTeam.scss";
@import "./create/addTeamName.scss";
@import "./create/addHero.scss";
@import "./create/heroCard.scss";
@import "./showTeams/allMyTeams.scss";
@import "./showTeams/teamCard.scss";

.team {
  width: 90%;
  padding: 2%;
  margin: auto;
  margin-top: 4%;
  background-color: $primary-color;
  box-shadow: 4px 4px 20px $secondary-color;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (min-width: 600px) {
  .team {
    width: 93%;
    margin-top: 2%;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;

    &_create {
      width: 60%;
    }

    &_show {
      width: 35%;
    }
  }
}
